<div class="container-fluid navbar-partial">
	{{#if logged}}
	<ul>
		<li class="col-xs-8 col-md-8"><a href="/"><h1 class="col-md-10 col-md-offset-2">Lexis</h1></a></li>
		<li class="col-xs-2 col-md-1 col-md-offset-2" id="nav-profile">Profile</li>
		<li class="col-xs-2 col-md-1" id="nav-log-out">Log-out</li>
	</ul>
	{{else}}
	<ul>
		<li class="col-xs-8 col-md-8"><a href="/"><h1 class="col-md-10 col-md-offset-2">Lexis</h1></a></li>
		<li class="col-xs-2 col-md-1 col-md-offset-2" id="nav-log-in"><a href="/login">Log-in</a></li>
		<li class="col-xs-2 col-md-1" id="nav-sign-up"><a href="/signup">Sign-up</a></li>
	</ul>
	{{/if}}
</div>