<div class="container-fluid terms-partial">
	<h1>.</h1>
	<h1>.</h1>
	<h1>.</h1>
	<h1>Do you actually read the terms of services?...</h1>
	<h1>.</h1>
	<h1>.</h1>
	<h1>.</h1>
	<h1>click anywhere to clear :p</h1>
</div>