<div class="container-fluid terms-partial fadeInDown animated">
	<div class="container">
	<div class="col-xs-10 col-md-8 col-lg-6 col-xs-offset-1 col-md-offset-2 col-lg-offset-3">
		<h1>Terms of Services</h1>
		<p>The Lexis website and all its mobile versions ("Service") is a hosted service operated by Lexis Inc. ("Lexis"). Any use of the Service is subject to the following Terms and Conditions of Service ("Terms of Service"), which are incorporated by reference into these Terms of Service.</p>
		<ul>
			<li>
				<h2>Eligibility</h2>
				<p>The Service is for users of all ages. By using the Service, you represent and warrant that (a) all registration information you submit is truthful and accurate; (b) you will maintain the accuracy of such information; and (c) your use of the Service does not violate any applicable law or regulation.</p>
			</li>
			<li>
				<h2>Account</h2>
				<p>All users are responsible for keeping their account and data secure. Lexis will not be responsible for any content stolen via any mean.</p>
			</li>
			{{!-- <li>
				<h2></h2>
				<p></p>
			</li>
			<li>
				<h2></h2>
				<p></p>
			</li> --}}
		</ul>
	</div>
	</div>
</div>