<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta name="description" content="Lexis is a simple and effective way to track new vocabulary. After you search a word in the dictionary, press just one button to add it to a vocab list to study later with an easy export to Quizlet for quizzing yourself. No more cramming vocabulary before exams - keep track of new words as you come across them. Use Lexis, and build your vocabulary the right way.">
	<!-- Link Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Link animate.css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<!-- Link CSS/main.css -->
	<link rel="stylesheet" type="text/css" href="/CSS/main.css">
	<!-- Link font from Google API -->
	<link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700" rel="stylesheet">
	{{!-- 
		font-family: 'Amiri', serif; --}}
	<!-- Link jQuery, and Bootstrap jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Link JS/navbar.js -->
	<script type="text/javascript" src="/JS/navbar.js"></script>
	<!-- Link JS/signup.js -->
	<script type="text/javascript" src="/JS/signup.js"></script>
	<!-- Link icon -->
	<link rel="icon" type="image/pgn" sizes="50x50" href="/images/lexis_icon.png">
	<link rel="apple-touch-icon" sizes="50x50" href="/images/lexis_icon.png">
</head>
<body>
	<div class="container-fluid navbar-partial">
	{{#if logged}}
	<ul>
		<li><div class="{{#if underlineLexis}}underline{{/if}} navbar-lexis"><a href="/">Lexis</a></div></li>
		<div class="navbar-not-lexis">
		<li><div class="{{#if underlineWords}}underline{{/if}} navbar-profile navbar-login"><a href="/userWords">My Words</a></div></li>
		<li><div class="{{#if underlineLogout}}underline{{/if}} navbar-logout navbar-signup"><a href="/logout">Logout</a></div></li>
		</div>
	</ul>
	{{else}}
	<ul>
		<li><div class="{{#if underlineLexis}}underline{{/if}} navbar-lexis"><a href="/">Lexis</a></div></li>
		<div class="navbar-not-lexis">
			<li><div class="{{#if underlineLogin}}underline{{/if}} navbar-login"><a href="/login">Login</a></div></li>
			<li><div class="{{#if underlineSignup}}underline{{/if}} navbar-signup"><a href="/signup">Signup</a></div></li>
		</div>
	</ul>
	{{/if}}
</div>
	<div class="container-fluid terms-partial fadeInDown animated">
	<div class="container">
	<div class="col-xs-10 col-md-8 col-lg-6 col-xs-offset-1 col-md-offset-2 col-lg-offset-3">
		<h1>Terms of Services</h1>
		<h5>(pulled from Quizlet's Terms as an example; for academic learning purposes only)</h5>
		<p>The Lexis website and all its mobile versions ("Service") is a hosted service operated by Lexis Inc. ("Lexis"). Any use of the Service is subject to the following Terms and Conditions of Service ("Terms of Service"), as well as to Lexis's Privacy Policy, all of which are incorporated by reference into these Terms of Service. Your use of the Service will constitute your acceptance of these Terms of Service.</p>
		<ul>
			<li>
				<h2>Eligibility</h2>
				<p>Use of the Service is void where prohibited. The Service is for users of all ages. For children under 13, Lexis requires parental consent and offers a limited feature set and website experience that removes certain social features. By using the Service, you represent and warrant that (a) all registration information you submit is truthful and accurate; (b) you will maintain the accuracy of such information; and (c) your use of the Service does not violate any applicable law or regulation.</p>
			</li>
			<li>
				<h2>Your Lexis Account and Data</h2>
				<p>If you create an account on the Service, you are responsible for maintaining the security of your account and data, and you are fully responsible for all activities that occur under the account. You must notify Lexis immediately of any unauthorized uses of your data, your account or any other breaches of security. Lexis will not be liable for any acts or omissions by you, including any damages of any kind incurred as a result of such acts or omissions. Lexis may from time to time set storage limits for your data, or take any other measures it considers appropriate to manage the Service. Lexis may also from time to time change its policies on offering commercial content or displaying advertising, and may do this without notice.</p>
			</li>
			<li>
				<h2>Prohibited Content and Activities, and Responsibilities of Contributors</h2>
				<p>If you create sets, comment via the discussion boxes, post material to the Service, post links on the Service, or otherwise make material available by means of the Service (referred to collectively as "Content"), you are entirely responsible for the composition of, and any harm resulting from, that Content. That is the case, regardless of whether the Content in question constitutes text, graphics, audio files, computer software or any other format in which Lexis stores data.</p>
				<p>The purpose of the Service is studying, and users are asked to post only study-related Content. The following are examples of the kind of Content that is illegal or prohibited to post on or through the Service. Lexis reserves the right to investigate and take appropriate legal action against anyone who, in Lexis's sole discretion, violates this provision, including without limitation, removing the offending Content from the Service and terminating the accounts of such violators. Prohibited Content includes, but is not limited to, Content that, in the sole discretion of Lexis:</p>
					<ul>
						<li><p>is patently offensive and promotes racism, bigotry, hatred or physical harm of any kind against any class or individual;</p></li>
						<li><p>harasses or advocates harassment of another person;</p></li>
						<li><p>exploits people in a sexual or violent manner;</p></li>
						<li><p>contains sexually suggestive, excessively violent, or offensive subject matter;</p></li>
						<li><p>solicits personal information from anyone under 18 years old;</p></li>
						<li><p>publicly posts information that poses or creates a privacy or security risk to any person;</p></li>
						<li><p>includes information about another person that you have posted without that person's consent;</p></li>
						<li><p>violates the privacy rights, publicity rights, copyrights, trademark rights, contract rights or any other rights of any person;</p></li>
						<li><p>contains or promotes information that you know is false or misleading, or promotes illegal activities or conduct that are abusive, threatening, obscene, defamatory or libelous;</p></li>
						<li><p>contains or promotes an illegal or unauthorized copy of another person's copyrighted work;</p></li>
						<li><p>solicits passwords or personally-identifying information for commercial or unlawful purposes from other users;</p></li>
						<li><p>involves the transmission of junk mail, chain letters, unsolicited mass mailings or instant messages, or spam;</p></li>
						<li><p>furthers or promotes any criminal activity or enterprise, or provides instructional information about illegal activities including, but not limited to, making or buying illegal weapons, violating someone's privacy, or providing or creating computer viruses;</p></li>
						<li><p>involves commercial activities and/or sales without prior written consent from Lexis, such as contests, sweepstakes, bartering, advertising, or pyramid schemes.</p></li>
					</ul>
				<p>The following are examples of the kind of activity that is illegal or prohibited on the Service. Lexis reserves the right to investigate and take appropriate legal action against anyone who, in Lexis's sole discretion, violates this provision, including without limitation, reporting you to law enforcement authorities. Prohibited activity includes, but is not limited to:</p>
					<ul>
						<li><p>criminal or tortious activity, including child pornography, fraud, trafficking in obscene material, drug dealing, gambling, harassment, stalking, spamming, sending of viruses or other harmful files, copyright infringement, patent infringement, or theft of trade secrets;</p></li>
						<li><p>circumventing or modifying, attempting to circumvent or modify, or encouraging or assisting any other person in circumventing or modifying any security technology or software that is part of the Service;</p></li>
						<li><p>impersonating or attempting to impersonate another user, person or entity;</p></li>
						<li><p>using the account, username, or password of another user at any time, or disclosing your password to any third party, or permitting any third party to access your account;</p></li>
						<li><p>solicits personal information from anyone under 18 years old;</p></li>
						<li><p>using any information obtained from the Service in order to harass, abuse, or harm another person or entity, or attempting to do so;</p></li>
						<li><p>activity that involves the use of viruses, bots, worms, or any other computer code, files or programs that interrupt, destroy or limit the functionality of any computer software or hardware, or otherwise permit the unauthorized use of, or access to, a computer or a computer network;</p></li>
						<li><p>any automated use of the system, such as, but not limited to, using scripts to create or post Content;</p></li>
						<li><p>interfering with, disrupting, or creating an undue burden on the Service or the networks or services connected to the Service;</p></li>
						<li><p>displaying an unauthorized commercial advertisement on the Service, or accepting payment or anything of value from a third party in exchange for your performing any commercial activity through the unauthorized or impermissible use of the Service on behalf of that party;</p></li>
						<li><p>reproducing, duplicating, copying, selling, reselling, trading, or exploiting for any commercial purposes, any portion of, or access to, the Content and/or functionality offered through the Service, unless you have been specifically allowed to do so in a separate agreement;</p></li>
						<li><p>using the Service in a manner inconsistent with any and all applicable laws and regulations.</p></li>
					</ul>
				<p>By making Content available, you represent and warrant that:</p>
					<ul>
						<li><p>the downloading, copying and use of the Content will not infringe the proprietary rights, including but not limited to the copyright, patent, trademark or trade secret rights, of any third party;</p></li>
						<li><p>if your employer has rights to intellectual property you create, you have either (i) received permission from your employer to post or make available the Content, including but not limited to any software, or (ii) secured from your employer a waiver as to all rights in or to the Content;</p></li>
						<li><p>you have fully complied with any third-party licenses relating to the Content, and have done all things necessary to successfully pass through to end users any required terms;</p></li>
						<li><p>the Content does not contain or install any viruses, worms, malware, Trojan horses or other harmful or destructive material;</p></li>
						<li><p>the Content is not spam, and does not contain unethical or unwanted commercial material designed to drive traffic to third party sites, to boost the search engine rankings of third party sites, to enable unlawful acts (such as phishing) or to mislead recipients as to the source of the material (such as spoofing);</p></li>
						<li><p>the Content is not obscene or libelous, and does not violate the privacy or publicity rights of any third party; and</p></li>
						<li><p>you have, in the case of Content that includes computer code, accurately categorized and/or described the type, nature, uses and effects of the materials, whether requested to do so by Lexis or otherwise.</p></li>
					</ul>
				<p>By submitting Content to Lexis for inclusion on the Service, for example posting a study set, you grant Lexis a world-wide, perpetual, royalty-free license (with right to sublicense) to use, copy, reproduce, process, adapt, modify, publish, transmit, display, and distribute such Content in any and all media or distribution methods (existing or subsequently developed).</p>
				<p>Such additional uses by Lexis, or other companies or individuals who partner with Lexis, may be made with no compensation paid to you with respect to the Content that you submit, post, or otherwise make available through the Service.</p>
				<p>If you use Lexis's Embed Function on your website, you may not modify, build upon, or block any functionality or portion thereof, including but not limited to links back to the Lexis website.</p>
				<p>See our Developer API rules, for how third-party developers can interact with Content.</p>
			</li>
			<li>
				<h2>Responsibility of Service Visitors</h2>
				<p>Lexis has not reviewed, and cannot review, all Content posted to the Service, and cannot therefore be responsible for that material's content, use or effects. By operating the Service, Lexis does not represent or imply that it endorses the material posted thereon, or that it believes such material to be accurate, useful or non-harmful. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive material. The Service may contain material that is offensive, indecent, or otherwise objectionable, as well as Content in which technical inaccuracies, typographical mistakes, and other errors may be present. The Service may also contain material that violates or infringes the intellectual property and other proprietary rights of third parties, or of which the downloading, copying or use may be subject to additional terms and conditions, stated or unstated. Lexis disclaims any responsibility for any harm resulting from the use by visitors of the Service, or from any downloading by those visitors of content posted thereon.</p>
			</li>
			<li>
				<h2>Content Posted on Other Websites</h2>
				<p>We have not reviewed, and cannot review, all of the Content, including computer software, made available through the websites and webpages to which Lexis links, and which link to Lexis. Lexis does not have any control over those third party websites and webpages, and is not responsible for their content or your use thereof. By linking to a third party website or webpage, Lexis does not represent or imply that it endorses that website or webpage. You are responsible for taking precautions as necessary to protect yourself and your computer systems from viruses, worms, Trojan horses, and other harmful or destructive material. Lexis disclaims any responsibility for any harm resulting from your use of third party websites and webpages.</p>
			</li>
			<li>
				<h2>Copyright Infringement and DMCA Policy.</h2>
				<p>As Lexis asks others to respect its intellectual property rights, it respects the intellectual property rights of others. If you believe that material located on or linked to by Lexis violates your copyright, you are encouraged to notify Lexis in accordance with Lexis's Digital Millennium Copyright Act (“DMCA”) Policy. Lexis will respond to all such notices, including by removing the infringing Content or disabling all links to the infringing Content, as required or appropriate. In the case of a visitor who may infringe, once or repeatedly, the copyrights or other intellectual property rights of Lexis or others, Lexis may, in its discretion, terminate or deny access to, or use of, the Service. In the case of such termination, Lexis will be under no obligation to provide a refund of any amounts previously paid to Lexis.</p>
			</li>
			<li>
				<h2>Trademarks</h2>
				<p>Lexis, Lexis, Lexis.com, the Lexis logo, and all other trademarks, service marks, graphics and logos used in connection with Lexis, or the Service are trademarks or registered trademarks of Lexis or Lexis's licensors. Other trademarks, service marks, graphics and logos used in connection with the Service may be the trademarks of other third parties. Your use of the Service grants you no right or license to reproduce or otherwise use any Lexis or third-party trademarks. Audio files and software may not be sold or redistributed, or offered as a service to others. Portions of audio content copyright Voiceware Co., Ltd. 2001 and NeoSpeech, Inc., 2002, 2007. Portions of audio content powered by Loquendo TTS.</p>
			</li>
			<li>
				<h2>Changes</h2>
				<p>The Service, including without limitation all content there available and these Terms of Service, may be changed at the sole discretion of Lexis and without notice. You are bound by any such updates or changes, including but not limited to those affecting these Terms of Service, and as such, you should periodically review these Terms of Service.</p>
			</li>
			<li>
				<h2>Limitation of warranties of Lexis, its suppliers and its licensors</h2>
				<p>Except as otherwise expressly stated, all content posted to or available from the Service is provided "as is", and Lexis, its suppliers and its licensors make no representations or warranties, express or implied, including but not limited to warranties of merchantability, fitness for a particular purpose, title, or non-infringement of proprietary rights. You understand and agree that you download from, or otherwise obtain content or services through, the Service at your own discretion and risk, and that Lexis, its suppliers and its licensors will have no liability or responsibility for any damage to your computer system or data that results from the download such Content or the use of the Service. Some jurisdictions may not allow the exclusion of implied warranties, so some of the above may not apply to you.</p>
			</li>
			<li>
				<h2>Limitation of liability of Lexis, its suppliers and its licensors</h2>
				<p>Except as otherwise expressly stated, in no circumstance will Lexis, its suppliers or its licensors be liable to you or any other party for any direct, indirect, special, consequential or exemplary damages, regardless of the basis or nature of the claim, resulting from any use of the Service, or the contents thereof or of any hyperlinked website including without limitation any lost profits, business interruption, loss of data or otherwise, even if Lexis, its suppliers or its licensors were expressly advised of the possibility of such damages. In no event will the aggregate liability for any and all of your claims against Lexis, its suppliers and its licensors arising from, or related to, use of the Service, or the contents thereof, or of any hyperlinked website, exceed the amounts actually paid by you to Lexis during the 12-month period prior to the date a claim is made. Some jurisdictions may not allow the exclusion or limitation of liability for certain incidental or consequential damages, so some of the above limitations may not apply to you. The parties agree that this section, Section 10, represents a reasonable allocation of risk.</p>
			</li>
			<li>
				<h2>General Representation and Warranty</h2>
				<p>You represent and warrant that your use of the Service will be in accordance with Lexis's Privacy Policy, with these Terms of Service, with any applicable laws and regulations, including without limitation any local laws or regulations in your country, state, city, or other governmental area, regarding online conduct and acceptable content, and including all applicable laws regarding the transmission of technical data exported from the United States or the country in which you reside, and with any other applicable policy or terms and conditions.</p>
			</li>
			<li>
				<h2>Indemnification</h2>
				<p>You agree to defend, indemnify and hold harmless Lexis, its contractors, and its licensors, and their respective directors, officers, employees and agents from and against any and all claims and expenses, including attorneys' fees, arising from your use of the Service, including but not limited to, any violation of any representation or warranty contained in these Terms of Service.</p>
			</li>
			<li>
				<h2>Miscellaneous</h2>
				<p>These Terms of Service constitute the entire agreement between Lexis and you concerning the subject matter hereof, and they may only be modified by a written amendment signed by an authorized executive of Lexis, or by the posting by Lexis of a revised version. Except to the extent any applicable law provides otherwise, these Terms of Service and any access to or use of the Service will be governed by the laws of the state of California, U.S.A., excluding its conflict of law provisions, and the proper venue for any disputes arising out of or relating to any of the same will be the state and federal courts located in San Francisco County, California. If any part of these Terms of Service is held invalid or unenforceable, that part will be construed to reflect the parties' original intent, and the remaining portions will remain in full force and effect. A waiver by either party of any term or condition of these Terms of Service or any breach thereof, in any one instance, will not waive such term or condition or any subsequent breach thereof. You may assign your rights under these Terms of Service to any party that consents to, and agrees to be bound by, its terms. Lexis may assign its rights under these Terms of Service without condition. These Terms of Service will be binding upon and will inure to the benefit of the parties, their successors and permitted assigns.</p>
			</li>
		</ul>
	</div>
	</div>
	<br>
<br>
<br>
<br>
</div>

	<br><br>
	<div class="container-fluid sign-up-box">
	<form name="sign-up" method="post" action="/userSignup" class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 sign-up-form" >
		{{!-- <h4>Create a Lexis account</h4> --}}
		<table>
		<tbody>
			<tr>{{#if error}}<span class="col-xs-10 col-md-10 col-lg-10 col-xs-offset-1 col-md-offset-1 col-lg-offset-1 error-message wobble animated">An error occurred. Please try again.</span>{{/if}}</tr>
			<tr>
				<td class="data-input" id="userBirthday">
				</td>
			</tr>
			<tr>
				<td class="data-input"><input type="text" name="userName" autocomplete='off' pattern="[\w]+" oninvalid="setCustomValidity('Use only the characters in the alphabets, numbers, or \'_\'. Thanks.\');" placeholder="set a Username" required></td>
			</tr>
			<tr>{{#if usererror}}<span class="col-xs-10 col-md-10 col-lg-10 col-xs-offset-1 col-md-offset-1 col-lg-offset-1 error-message wobble animated">username already exists</span>{{/if}}</tr>
			<tr>
				<td class="data-input"><input type="email" name="userEmail" autocomplete='off' placeholder="type your Email" required></td>
			</tr>
			<tr>{{#if emailerror}}<span class="col-xs-10 col-md-10 col-lg-10 col-xs-offset-1 col-md-offset-1 col-lg-offset-1 error-message wobble animated">email already taken</span>{{/if}}</tr>
			<tr>
				
				<td class="data-input"><input type="password" name="userPassword" maxlength="25" autocomplete='off' pattern="[\w|\W]{8,25}" oninvalid="setCustomValidity('Use at least 8 characters and at most 25 characters. Click here to dismiss.');" onchange="setCustomValidity('');" placeholder="set a Password" required></td>
				
			</tr>
			<tr>{{#if passworderror}}<span class="col-xs-10 col-md-10 col-lg-10 col-xs-offset-1 col-md-offset-1 col-lg-offset-1 error-message wobble animated">that password is not allowed</span>{{/if}}</tr>
			<tr>
				<td class="agree-section"><input type="checkbox" name="agree-terms" autocomplete='off' required> I agree with Lexis's <a id="terms-link">Terms of Service</a>.
				</td>
			</tr>
		<tbody>
		</table>
		<input type="submit" name="sign-up-submit" class="sign-up-submit" value="Signup">
		<p style="text-align: center;">Already have an account? <a href="/login">Login</a></p>
	</form>
	</div>
</body>
</html>
