<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<!-- Link Bootstrap -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- Link animate.css -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
	<!-- Link CSS/main.css -->
	<link rel="stylesheet" type="text/css" href="/CSS/main.css">
	<!-- Link font from Google API -->
	<link href="https://fonts.googleapis.com/css?family=Amiri:400,400i,700" rel="stylesheet">
	{{!-- 
		font-family: 'Amiri', serif; --}}
	<!-- Link jQuery, and Bootstrap jQuery -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.1.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<!-- Link JS/navbar.js -->
	<script type="text/javascript" src="/JS/navbar.js"></script>
	<!-- Link JS/signup.js -->
	<script type="text/javascript" src="/JS/signup.js"></script>
	<!-- Link icon -->
	<link rel="icon" type="image/pgn" sizes="50x50" href="/images/lexis_icon.png">
	<link rel="apple-touch-icon" sizes="50x50" href="/images/lexis_icon.png">
</head>
<body>
	<div class="container-fluid navbar-partial">
	{{#if logged}}
	<ul>
		<li><div class="{{#if underlineLexis}}underline{{/if}} navbar-lexis"><a href="/">Lexis</a></div></li>
		<div class="navbar-not-lexis">
		<li><div class="{{#if underlineWords}}underline{{/if}} navbar-profile navbar-login"><a href="/userWords">My Words</a></div></li>
		<li><div class="{{#if underlineLogout}}underline{{/if}} navbar-logout navbar-signup"><a href="/logout">Logout</a></div></li>
		</div>
	</ul>
	{{else}}
	<ul>
		<li><div class="{{#if underlineLexis}}underline{{/if}} navbar-lexis"><a href="/">Lexis</a></div></li>
		<div class="navbar-not-lexis">
			<li><div class="{{#if underlineLogin}}underline{{/if}} navbar-login"><a href="/login">Login</a></div></li>
			<li><div class="{{#if underlineSignup}}underline{{/if}} navbar-signup"><a href="/signup">Signup</a></div></li>
		</div>
	</ul>
	{{/if}}
</div>
	{{> terms}}
	<br><br>
	<div class="container-fluid sign-up-box">
	<form name="sign-up" method="post" action="/userSignup" class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3 col-lg-4 col-lg-offset-4 sign-up-form" >
		{{!-- <h4>Create a Lexis account</h4> --}}
		<table>
		<tbody>
			<tr>{{#if error}}<span class="col-xs-10 col-md-10 col-lg-10 col-xs-offset-1 col-md-offset-1 col-lg-offset-1 error-message wobble animated">An error occurred. Please try again.</span>{{/if}}</tr>
			<tr>
				<td class="data-input" id="userBirthday">
				</td>
			</tr>
			<tr>
				<td class="data-input"><input type="text" name="userName" autocomplete='off' pattern="[\w]+" oninvalid="setCustomValidity('Use only the characters in the alphabets, numbers, or \'_\'. Thanks.\');" placeholder="set a Username" required></td>
			</tr>
			<tr>{{#if usererror}}<span class="col-xs-10 col-md-10 col-lg-10 col-xs-offset-1 col-md-offset-1 col-lg-offset-1 error-message wobble animated">username already exists</span>{{/if}}</tr>
			<tr>
				<td class="data-input"><input type="email" name="userEmail" autocomplete='off' placeholder="type your Email" required></td>
			</tr>
			<tr>{{#if emailerror}}<span class="col-xs-10 col-md-10 col-lg-10 col-xs-offset-1 col-md-offset-1 col-lg-offset-1 error-message wobble animated">email already taken</span>{{/if}}</tr>
			<tr>
				
				<td class="data-input"><input type="password" name="userPassword" maxlength="25" autocomplete='off' pattern="[\w|\W]{8,25}" oninvalid="setCustomValidity('Use at least 8 characters and at most 25 characters. Click here to dismiss.');" onchange="setCustomValidity('');" placeholder="set a Password" required></td>
				
			</tr>
			<tr>{{#if passworderror}}<span class="col-xs-10 col-md-10 col-lg-10 col-xs-offset-1 col-md-offset-1 col-lg-offset-1 error-message wobble animated">that password is not allowed</span>{{/if}}</tr>
			<tr>
				<td class="agree-section"><input type="checkbox" name="agree-terms" autocomplete='off' required> I agree with Lexis's <a id="terms-link">Terms of Service</a>.
				</td>
			</tr>
		<tbody>
		</table>
		<input type="submit" name="sign-up-submit" class="sign-up-submit" value="Signup">
		<p style="text-align: center;">Already have an account? <a href="/login">Login</a></p>
	</form>
	</div>
</body>
</html>
