/* * * MAIN STUFFS * * */

* {font-family: 'Amiri', serif;font-size: 2rem;}
.fAmiri {font-family: 'Amiri', serif !important;}
input[type=text] {overflow: hidden;}
.noPadding {padding: 0 !important;}
.noMargin {margin: 0 !important;}

h1, h2, h3, h4, h5, h6 {@extend .noPadding; text-align: center; font-weight: bold;}
p {margin: 1rem 0rem 0rem 0rem;}
h1 {font-size: 6rem;}
h2 {font-size: 5rem;}
h3 {font-size: 4rem;}
h4, h5, h6 {font-size: 3.5rem;}
input:invalid {color: rgba(200,175,50,1);} //Change the color on invalid
body {background-color: rgba(200,125,50,0.7);}
.navbar-partial {
	padding-left: 0rem !important;
	padding-right: 0rem !important;
	background-color: rgba(50,175,255,0.9);
	a:link, a {text-decoration: none; text-transform: none; color: black;}
	a:hover {color: blue;}
	ul {
		padding-left: 0rem !important;
		padding-right: 0rem !important;
		li {
			padding-left: 0rem !important;
			padding-right: 0rem !important;
			display: inline-block;
			$height: 10rem;
			min-height: $height; max-height: $height;
			line-height: $height;
			h1, h2, h3, h4, h5, h6 {
				@extend .noMargin;
				text-align: left !important;
				line-height: $height;
			}
			// Set min-height and max-height automatically onload
		}
	}
}
.login-modal {
	z-index: 2;
	display:none;
	position:fixed; left: 0; top: 0;
	// background-color: rgba(0,0,0,0.3);
	width: 100%; height: 100%;
	transition: background 200ms linear;
    -webkit-transition: background 200ms linear;
    -moz-transition: background 200ms linear;
	.login-modal-temp {
		z-index: 12; width: 100%; height: 100%;
		position:fixed; left: 0; top: 0;
	}
	.login-modal-content {
		background-color: white; padding: 1rem;
		top: 10rem;
		z-index: 14;
		.login-modal-form {
			input[type=submit]{
				margin-top: 1rem;
				color: black;
				text-align: center;
				background-color: rgba(0,0,0,0.1);
				border: 0px solid rgba(0,0,0,0.5);
				transition: background-color 200ms;
				width: 100%;
			}
			input[type=submit]:hover{
				color: white;
				background-color: rgba(0,0,0,0.4);
			}
			input[type=submit]:focus, input[type=submit]:active {
				color: white;
				background-color: rgba(200,125,50,0.7);
			}

			input[type=text], input[type=password], input[type=date], input[type=email]{
				margin-top: 1rem;
				text-align: center;
				background-color: rgba(0,0,0,0.1);
				border-bottom: 3px solid rgba(0,0,0,1);
				border-top: 0px solid rgba(0,0,0,0.4);
				border-left: 0px solid black;
				border-right: 0px solid black;
				transition: background-color 200ms;
				width: 100%;
			}
			input[type=text]:hover, input[type=password]:hover, input[type=date]:hover, input[type=email]:hover, select:hover {
				color: white;
				background-color: rgba(0,0,0,0.4);
			}
			input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=email]:focus, select:focus {
				color: white;
				background-color: rgba(0,0,0,0.7);
			}
			input[type=text]:active, input[type=password]:active, input[type=date]:active, input[type=email]:active, select:active {
				color: white;
				background-color: rgba(0,0,0,0.7);
			}
		}
	}
}
.login-click {
	transition: background-color 200ms, color 200ms;
	color: white;
	background-color: black;
	padding: 0px 10px;
}
.login-click:hover {background-color: red;}
.login-click:active {background-color: blue;}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: black;}
::-moz-placeholder { /* Firefox 19+ */
  color: black;}
:-ms-input-placeholder { /* IE 10+ */
  color: black;}
:-moz-placeholder { /* Firefox 18- */
  color: black;}

/* * * INDEX PAGE * * */
.header {
	min-height: 10rem;
}

.global {
	.search {
		padding: 1rem;
		background-color: rgba(0,0,0,0.5);
		.search-word-input {
			/* Small devices (tablets, 769px and down) * /
			@media (max-width: 769px) {
				font-size: 6rem;
			}
			
			/* Medium devices (desktops, 769px and up) * /
			@media (min-width: 769px) {
				font-size: 5rem;
			}
			
			/* Large devices (large desktops, 1200px and up) * /
			@media (min-width: 1200px) {
				font-size: 5rem;
			}*/
			background-color: rgba(255,255,255,0.2);
			border-bottom: 3px solid rgba(255,255,255,1);
			border-top: 0px solid black;
			border-left: 0px solid black;
			border-right: 0px solid black;
			display: block;
			font-size: 4rem; text-align: center;
			width: 100%;
			transition: background-color 200ms, color 200ms;
		}
		.search-word-input:hover {
			background-color: rgba(255,255,255,0.7);
		}
		.search-word-input:active, .search-word-input:focus {
			background-color: rgba(0,0,0,0.8);
			color: white;
		}
		.result-word {
			display: none;
			font-size: 2rem;
			text-align: center;
			transition: opacity 200ms, background-color 200ms, color 200ms;
			h1, h2, h3, h4, h5, h6 {
				font-weight: bold;
				background-color: rgba(255,255,255,0.9);
				margin: 1rem 0rem 0rem 0rem !important;
				padding: 0.5rem 0rem !important;
			}
			p {
				display: block;
				background-color: rgba(255,255,255,0.7);
				padding: 0.5rem;
			}
			.add-word {
				position: fixed;
				background-color: blue;
				padding: 1rem 2rem;
			}
		}
	}
	
}

/* * * SIGN-UP PAGE * * */

.sign-up-box {
	position: relative !important;
	.sign-up-form {
		padding: 30px 30px;
		select {
			text-align: center;
			background-color: rgba(255,255,255,0.1);
			border-bottom: 3px solid rgba(255,255,255,1);
			border-top: 0px solid black;
			border-left: 0px solid black;
			border-right: 0px solid black;
			transition: background-color 200ms;
		}
		input[type=text], input[type=password], input[type=date], input[type=submit], input[type=email] {
			@extend select;
			width: 100%;
		}
		input[type=text]:hover, input[type=password]:hover, input[type=date]:hover, input[type=submit]:hover, input[type=email]:hover, select:hover {
			color: white;
			background-color: rgba(255,255,255,0.4);
		}
		input[type=text]:focus, input[type=password]:focus, input[type=date]:focus, input[type=submit]:focus, input[type=email]:focus, select:focus {
			color: white;
			background-color: rgba(0,0,0,0.7);
		}
		input[type=text]:active, input[type=password]:active, input[type=date]:active, input[type=submit]:active, input[type=email]:active, select:active {
			color: white;
			background-color: rgba(0,0,0,0.7);
		}
		/*select {
			background-color: rgba(255,255,255,0.4);
			border-bottom: 3px solid rgba(255,255,255,1);
			border-top: 0px solid black;
			border-left: 0px solid black;
			border-right: 0px solid black;
		}*/
		table {
			width: 100%;
			tbody {
				td {
					padding: 5px 2px;
				}
				// .data-info {
					// background-color: rgba(0,255,0,0.5);
				// 	text-align: right;
				// 	padding: 0px 10px;
				// }
				.data-input {
					text-align: right;
					text-align: center;
					#userBirthday{
						.userBirthday_Input {
							border: none;
							margin: 0rem 2rem;
						}
					}
				}
				.agree-section {
					text-align: center;
				}
			}
		}
	}
}




